/**
 * Created by kFC on 2016/10/13.
 */
@import "compass";
@import "compass/reset";
@import "bg/*.png";
@include all-bg-sprites;

$perspective:1100px;
$turntableHeight:225px;
$turntableLength:20;
$turntableZ:-700px;
$turntableY:0px;

.scale-div{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 640px;
  height: 1030px;
  margin-left: -320px;
  margin-top: -515px;
}
.scale, .scale-div {
  @include transition(transform 1s);
}
@media screen and (max-height: 1000px) {
  .scale, .scale-div {
    @include scale(0.9);
  }
}
@media screen and (max-height: 900px) {
  .scale, .scale-div {
    @include scale(0.8);
  }
}
html,body{
  text-align: center;
  width: 100%;
  height: 100%;
  background: #e73828;
}
.wrapper{
  position: relative;
  height: 100%;
  width: 640px;
  margin: 0 auto;
  text-align: left;
  overflow: hidden;
  .bg-logo{
    $bg:'bg/logo.png';
    $width:image-width($bg);
    $height:image-height($bg);
    position: absolute;
    top: 40px;
    right: 50px;
    width: $width;
    height:$height;
    @include transform-origin(right,top);
    @include transition(opacity,1s ease-in-out);
    z-index: 1000;
  }
  .bg-title{
    $bg:'bg/title.png';
    $width:image-width($bg);
    $height:image-height($bg);
    position: absolute;
    top: 50%;
    left: 50%;
    width: $width;
    height:$height;
    margin-left:-$width*.5;
    margin-top:-$height*.5;
    @include transition(transform,0.6s ease-in-out);
    .bg-next{
      $bg:'bg/next.png';
      $width:image-width($bg);
      $height:image-height($bg);
      position: absolute;
      left: 600px;
      top: 730px;
      width: $width;
      height:$height;
      @include animation(hint_ani 2s infinite ease-in-out);
    }
  }
  .bg-flag{
    $bg:'bg/flag.png';
    $width:image-width($bg);
    $height:image-height($bg);
    position: absolute;
    width: $width;
    height:$height;
  }
  .history{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    @include transition(transform,0.6s ease-in-out);
    @include perspective( $perspective );
    @include perspective-origin(245px center);
    &:before{
      content: '';
      position: absolute;
      top: -20px;
      left: 245px;
      width: 1px;
      height: 110%;
      background: #ffffff;
    }
    &:after{
      content: '';
      $bg:'bg/flag.png';
      $width:image-width($bg);
      $height:image-height($bg);
      position: absolute;
      bottom: 100%;
      left: 245px;
      width: $width;
      height:$height;
      margin-left: -15px;
      @include bg-sprite(flag);
      @include animation(flag_hint_ani 2s infinite ease-in-out);
    }
    .bg-logo2{
      $bg:'bg/logo2.png';
      $width:image-width($bg);
      $height:image-height($bg);
      position: absolute;
      bottom: 5%;
      left: 280px;
      width: $width;
      height:$height;
      margin-left: -15px;
      opacity: 0;
      @include transition(opacity 0.6s);
      &.show{
        opacity: 1;
      }
    }
    .turntable{
      $height:$turntableHeight;
      position: absolute;
      top: 50%;
      left: 0;
      height:$height;
      margin-top: -0.5*$height;
      @include backface-visibility(hidden);
      @for $i from 1 through 20{
        &.turntable-#{$i}{
          $radius:$turntableHeight/2/tan(pi()/$turntableLength);
          @include transform(rotateX(-($i+-1)*360deg/$turntableLength) translateZ($radius));
        }
      }
    }
    .date-div{
      position: absolute;
      top: 0;
      left: 0;
      width: 245px;
      height: 100%;
      @include transform-style(preserve-3d);
      @include transform(translateY($turntableY) translateZ($turntableZ));
      //@include animation(rotate_ani 5s infinite linear);
      .turntable{
        $bg:'bg/date_1.png';
        $width:image-width($bg);
        width: $width;
      }
    }
    .text-div{
      position: absolute;
      top: 0;
      right: 0;
      width: 640px+-245px;
      height: 100%;
      @include transform-style(preserve-3d);
      @include transform(translateY($turntableY) translateZ($turntableZ));
      //@include animation(rotate_ani 5s infinite linear);
      .turntable{
        $bg:'bg/textbg.png';
        $width:image-width($bg);
        $width:640px+-245px;
        width: $width;
        &.bg-textbg{
          &:before{
            content: '';
            $bg:'bg/flag.png';
            $width:image-width($bg);
            $height:image-height($bg);
            position: absolute;
            top: -45px;
            left: 0;
            width: $width;
            height:$height;
            margin-left: -15px;
            @include bg-sprite(flag);
          }
        }
        span{
          position: absolute;
          width: 285px;
          height: 50px;
          top: 10px;
          left: 60px;
          text-align: center;
          color: #ffffff;
          line-height:50px;
          font-size: 24px;
          font-family:'Microsoft YaHei UI';
          white-space:nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        img{
          position: absolute;
          top: -45px;
          right: 41px;
          width: 343px;
          height: 356px;
          opacity:0;
          @include transition(opacity 0.6s);
        }
      }
    }
    .bg-selectbg{
      $bg:'bg/selectbg.png';
      $width:image-width($bg);
      $height:image-height($bg);
      position: absolute;
      top: 52%;
      left: 50%;
      width: $width;
      height:$height;
      margin-left: -.5*$width;
      margin-top: -.5*$height;
      pointer-events: none;
      @include translateZ(0px);
      .bg-year{
        $bg:'bg/2014.png';
        $width:image-width($bg);
        $height:image-height($bg);
        position: absolute;
        top: 1%;
        left: 7%;
        width: $width;
        height:$height;
      }
    }
  }
  &.show{
    .bg-title{
      @include translateY(-1030px);
    }
    .history{
      @include transform(translateY(-1030px) scaleY(1.08));
    }
    .bg-logo{
      opacity: 0;
    }
  }
  #audio_ctr{
    position: absolute;
    top: 40px;
    left: 44px;
    width: 70px;
    height: 70px;
    margin-left: -35px;
    margin-top: -35px;
    -webkit-background-size: 50% !important;
    background-size: 50% !important;
    &.play{
      background: url("../play.gif") no-repeat center;
    }
    &.pause{
      background: url("../pause.png") no-repeat center;
    }
  }
}
@include keyframes(flag_hint_ani) {
  50%{
    @include translateY(-20px);
  }
}
@include keyframes(rotate_ani) {
  0%{
    @include transform(translateY($turntableY) translateZ($turntableZ) rotateX(0deg));
  }
  100%{
    @include transform(translateY($turntableY) translateZ($turntableZ) rotateX(360deg));
  }
}
@include keyframes(hint_ani){
  50%{
    @include translateY(20px);
  }
}